<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar_student') %>
  <h1> Student Home</h1>
    <div class="gappingbox"></div>
    <h2>
      Welcome: <%= loginuser.name %> , <%=loginuser.role  %>
    </h2>
    <%- include('partials/footer') %>

</body>
</html>